$bannerHeight: 80px;
$bannerHeightMini: 50px;
$bannerTransition: 0.5s ease-in;
$bannerPadding: 16px;
$imgSize: 48px;
$imgSizeMini: 32px;
$cta-color: #4285f4;
$system-fonts: -apple-system,
               BlinkMacSystemFont,
               "Segoe UI",
               Roboto,
               Helvetica,
               Arial,
               sans-serif,
               "Apple Color Emoji",  // Emojis
               "Segoe UI Emoji", // Emojis
               "Segoe UI Symbol"; // Emojis

%reset {
  padding: 0;
  margin: 0;
  font-size: 100%;
  font-weight: normal;
  text-align: left;
  line-height: 1.2;
}

html {
  &.Animated {
    transition: margin $bannerTransition;
  }

  &.BannerPresent {
    margin-top: $bannerHeight;

    .FixedHeader {
      margin-top: $bannerHeight;
    }
  }

  &.MiniBannerPresent {
    margin-top: $bannerHeightMini;

    #TheBanner {
      display: block;
    }
  }
}

.FixedHeader {
  transition: margin $bannerTransition;
  margin-top: 0;
}

.banner {
  @extend %reset;
  display: block;
  position: fixed;
  z-index: 2147483639;

  top: -1px;
  left: 0;
  right: 0;
  padding: $bannerPadding;
  padding-left: $bannerPadding * 2;
  height: $bannerHeight + 1;
  background-color: #fafafa;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;

  box-sizing: border-box;
  font-family: $system-fonts;

  margin: 0;

  *, *:after, *:before {
    box-sizing: inherit;
  }
}
.mini {
  @extend .banner;
  padding-left: $bannerPadding;
  padding-top: $bannerPadding / 2;
  padding-bottom: $bannerPadding / 2;
  height: auto;
  position: absolute;
  display: none;

  &> * {
    &> .img {
      width: $imgSizeMini;
      height: $imgSizeMini;
    }

    &> .info {
      left: $bannerPadding + $imgSizeMini + 8px;
    }

    &> .btn {
      &__fixed {
        margin-top: -13px;
      }
    }
  }
}

.container {
  display: block;
  width: 100%;
  height: 100%;
}

.img {
  @extend %reset;
  position: relative;
  width: $imgSize;
  height: $imgSize;
  float: left;
  border-radius: 4px;
  overflow: hidden;

  &:after {
    @extend %reset;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 4px;
  }

  img {
    @extend %reset;
    width: 100%;
    height: 100%;
  }
}

.info {
  @extend %reset;
  position: absolute;
  left: ($bannerPadding * 2) + $imgSize + 8px;
  right: $bannerPadding * 2;
  font-size: 1em;
  color: #444;
}

.description {
  display: table-cell;
  padding-left: 8px;
  vertical-align: top;

  p {
    margin: 0;
  }
}

.name {
  @extend %reset;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: .875em;
  margin-bottom: 2px;
  font-weight: 600;
}

.publisher {
  @extend %reset;
  font-size: .75em;
  margin-bottom: 2px;
}

.cta {
  @extend %reset;
  font-weight: bold;
  font-size: .75em;
  color: $cta-color;
}

.dismiss {
  @extend %reset;
  position: absolute;
  display: block;
  top: 50%;
  left: $bannerPadding / 2;

  > img {
    @extend %reset;
    display: block;
    width: $bannerPadding;
    height: $bannerPadding;
    margin-top: $bannerPadding / -2;

    #close {
      fill: #666;
    }
  }
}

.btn {
  @extend %reset;
  display: inline-block;
  background-color: $cta-color;
  padding: 6px 8px;
  font-size: .75em;
  text-transform: uppercase;
  color: #fff;
  border-radius: 2px;
  line-height: 1.2;
  cursor: pointer;
  border: 0;

  &__fixed {
    position: absolute;
    right: $bannerPadding;
    top: 50%;
    margin-top: -10px;
  }
}
